.wrapper {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'ProximaNova', sans-serif;
    border-radius: 4px;
    background-color: #fff;
    min-width: 110px;
    padding: 9px 22px;
    cursor: pointer;

    + .wrapper {
        margin-left: 16px;
    }
}

.tiltle + .icon,
.icon + .tiltle {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

// button style
.primary {
    background-color: rgba(254, 44, 85, 1);
    color: #fff;
    justify-content: center;
    display: flex;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: rgba(254, 44, 85, 1);
    border: 1px solid rgba(254, 44, 85, 1);

    &:hover {
        background-color: #fff2f5;
    }
}

.text {
    min-width: none;
    background-color: #fff;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.rounded {
    height: 32px;
    min-width: 90px;
    padding: 0 8px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 52px;
    line-height: 30px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.action-btn {
    padding: 8px;
    color: #464850;
}

// disable
.disable {
    opacity: 0.2;
    cursor: default;
}

// button size
.small {
    min-width: 88px;
    padding: 5px 23px;
}
